services:
  app:
    build: ./backend
    ports: 
    - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    env_file: ./.env
  frontend:
    image: nginx:alpine
    ports:
      - "3000:80"
    volumes:
      - ./frontend:/usr/share/nginx/html:ro
    depends_on:
      - app

  db:
    image: postgres:alpine
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5555:5432"
    healthcheck:
        test: ["CMD-SHELL", "pg_isready -U postgres -d url"]
        interval: 10s
        retries: 5
        start_period: 30s
        timeout: 10s
    volumes: 
      - db:/var/lib/postgresql/data

volumes:
  db: